# Ignore build artifacts
/target/


# Ignore other unnecessary files
*.log
*.tmp


# Dotnet
bin/
obj/

# NPM
node_modules/
.angular/

# Testing
config.yaml
config.yml
testfile
*testfile
*.mock



!/.github\ISSUE_TEMPLATE\config.yml