ubihome:
  name: test

logger:
  level: debug
  directory: ./logs

api:

switch:
  - platform: shell
    name: "Screen"
    id: screen
    command_on: "wlr-randr --output HDMI-A-1 --on"
    command_off: echo "false" > switch.mock
    # command_state: cat switch.mock