version: '3.8'

services:
  rabbitmq:
    build:
      context: mqtt
      dockerfile: Dockerfile
    hostname: my-rabbit
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - "8080:15672" # Management UI
      - "1883:1883"   # AMQP protocol port
      - "5672:5672"   # AMQP protocol port